[run]
plugins = Cython.Coverage

omit = 
  wolf/mockup.py
  wolf/basedata.py
  wolf/cli.py
  wolf/migration/*
  wolf/migration/versions/*

[report]
omit = 
  wolf/mockup.py
  wolf/basedata.py
  wolf/cli.py
  wolf/migration/*
  wolf/migration/versions/*

