[run]
plugins = Cython.Coverage

omit = 
  wolf/mockup.py
  wolf/basedata.py
  wolf/cli.py
  wolf/migration/**/*.py

[report]
omit = 
  wolf/mockup.py
  wolf/basedata.py
  wolf/cli.py
  wolf/migration/**/*.py

